.password-eye {
    position: relative;

    #password {}

    .eye-icon {
        position: absolute;
        top: 75%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}


